{% extends "base.html" %}
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Learn Everything About DJANGO</h3>
                    <p class="text-light">Let's Code Together...! &nbsp
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>

    <!--Contact form-->
	<div style="margin:80px">
        <form method="post" action="{% url 'contact' %}">
        {% csrf_token %}
		<h1>Contact</h1>
		<h4>Contact us directly if you have any questions</h4>
        <label for="name">Full Name</label>
            <input type="text" id="name" name="name" placeholder="Your name.."><br>
        <label for="email">Email Id</label>
             <input type="email" id="email" name="email" placeholder="write your email id"><br>

        <label for="subject">Subject</label>
            <input type="text" id="subject" name="subject" placeholder="Write your subject"><br>

        <label for="subject">Subject</label>
            <textarea id="message" name="message" placeholder="Write your message.." style="height:200px"></textarea><br>

            <button type="submit">Submit</button>
        </form>
    </div>

</div>
{%endblock%}

